img {
    width: 200px;
    height: 200px;
}

.logoDiv {
    color: #606060;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
}

.image-div {
    margin-top: 50px;
    text-align: center;
}