.mapContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
}

.carouselContainer {
    display: none;
}

@media screen and (max-width: 1640px) {
    .mapContainer {
        display: none;
    }

    .carouselContainer {
        display: block;
    }
}
.mapContainer img {
    width: 70%;
    height: 30%;
}

.hourlyWeatherTileCard {
    width: 30%;
    background: rgb(255, 255, 255, 0.9);
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 10%;
}

.carouselWeatherTileCard {
    width: 30%;
    background: rgb(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 5% auto;
}

.carouselWeatherTileCard img {
    width: 60%;
    height: 35%;
}


.date {
    text-align: center;
    font-size: 30px;
}